%h1 Videos


- if @nodes.any?
  %table
    %tr
      %th Name
      %th Views
      %th Recommendations
    - @nodes.each do |node|
      %tr
        %td= node.name
        %td{style: "text-align: center"}= node.total_visits
        %td{style: "text-align: right"}= link_to "Recs", recommendations_path(node.id)
