%h1 People

- if @nodes.any?
  %table
    %tr
      %th Name
      %th Views
      %th Recommendations
    - @nodes.each do |node|
      %tr
        %td= node.name
        %td= node.total_visits
        %td= link_to "Recommend Me", recommendations_path(id: node.id, format: :json)
